* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    line-height: 1.6;
    background-color: #d9eff779;
}

.content {
    width: 200px;
    height: 200px;
}

.bg-main {
    background-color: rgb(53, 51, 51);
}

.bg-btn {
    background-color: #4741A6 !important;
}

.img-tag {
    position: relative !important;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
.clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.link{
    color: rgb(212, 212, 212) !important;
    font-weight: 600;
}
.link:hover {
    color: #fff !important;
}
header{
    position: sticky !important;
    top: 0;
    z-index: 10;
}